/* Regular */
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
