/* Regular */
@font-face {
  font-family: "Nunito";
  src: url("./nunito/Nunito-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Nunito";
  src: url("./nunito/Nunito-Italic.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
