/*.courses_container {
    width: 1142px;
    margin: 0 auto;
    text-decoration: none;
}


body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}

.courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    text-decoration: none;
    overflow: hidden;

    position: relative;
}

.courses-item_link:hover,
.courses-item_link:hover .courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.courses-item_link:hover .courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.courses-item_title h2 {
    min-height: 87px;
    margin: 0 0 15px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
    text-decoration: none;
}

.courses-item_title p {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: 400;
    font-size: 15px;
    color: #FFF;
    z-index: 2;
    position: relative;
    text-decoration: none;
}

.courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.courses_item:nth-child(2n) .courses-item_bg {
    background-color: #836FFF;
}

.courses_item:nth-child(3n) .courses-item_bg {
    background-color: #FF8911;
}

.courses_item:nth-child(4n) .courses-item_bg {
    background-color: #952aff;
}

.courses_item:nth-child(5n) .courses-item_bg {
    background-color: #EF4040;
}

.courses_item:nth-child(6n) .courses-item_bg {
    background-color: #D0A2F7;
}



@media only screen and (max-width: 979px) {
    .courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .courses-item_link {
        padding: 22px 40px;
    }

    .courses-item_date-box {
        font-size: 16px;
    }
}
     */