.grammar-menu-container {
  position: relative;
  margin: 100px auto;
  height: 600px;
  overflow-y: auto;
}

.menu-toggle-button-grammar {
  display: block;
  background-color: white;
  color: black;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-top: 0px;
}  

.grammar-navbar {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 10px;
  height: auto;
}

.grammar-navbar.visible {
  display: block;
}

.grammar-navbar-list {
  list-style-type: none;
  padding: 0;
}

.grammar-navbar-item {
  margin: 35px 0;
}

.grammar-navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grammar-submenu {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 5px;
}

.grammar-submenu li {
  margin: 15px 0;
  border-bottom: #777777 solid 1px;
}

.grammar-submenu li:hover {
  text-decoration: none;
  background-color: lightgray;
}

.caret {
  margin-left: 10px;
}

@media (max-width: 990px) {

  .grammar-menu-container {
    position: relative;
    margin: 50px auto;
    height: 200px;
    overflow-y: auto;
  }

  .menu-toggle-button-grammar {
    display: block;
    padding: 45px 0px;
    font-size: 15px;
  }

  .menu-toggle-button-grammar:hover {
    background-color: transparent;
    color: white;
  }

  .grammar-navbar {
    display: none;
  }

  .grammar-navbar.visible {
    display: block;
    transform: translateX(0);
    height: auto;
    margin-top: 0px;
  }
  
  .menu-title {
    display:none;
  }
}

