/*html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000;
  }
  
  a {
    text-decoration: none;
  }
  
  .text-light {
    font-weight: 300;
  }
  
  .text-bold {
    font-weight: bold;
  }*/
 
  



  
/*
.courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    margin: 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    width: 100%;
}

.courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
    border: #000 solid 1px;

    position: relative;
}

.courses-item_link:hover,
.courses-item_link:hover .courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.courses-item_link:hover .courses-item_bg {
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(2);
}

.courses-item_title h2 {
    min-height: 87px; 
    margin: 0 0 15px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    z-index: 1;
    position: relative;
    text-decoration: none;
}

.courses-item_title p {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    z-index: 1;
    position: relative;
    text-decoration: none;
}

.courses-item_title ul {
  margin: 25px 0 0 0px;
}

.courses-item_title li {
  margin: 25px 0 0 0px;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  position: relative;
}

.courses-item_title a {
  color: #000;
  margin-left: 10px;
}

.courses-item_title a:hover {
  text-decoration: underline;
}

.courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #428bca;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.courses_item:nth-child(2n) .courses-item_bg {
    background-color: #5cb85c;
}

.courses_item:nth-child(3n) .courses-item_bg {
    background-color: goldenrod;
}

.courses_item:nth-child(4n) .courses-item_bg {
    background-color: orangered;
}

.courses_item:nth-child(5n) .courses-item_bg {
    background-color: red;
}

.courses_item:nth-child(6n) .courses-item_bg {
    background-color: red;
}



@media only screen and (max-width: 979px) {
    .courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .courses-item_link {
        padding: 22px 40px;
    }

    .courses-item_date-box {
        font-size: 16px;
    }
}
*/


