.speaking-menu-container {
  position: relative;
}

.menu-toggle-button-speaking {
  display: none;
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.speaking-navbar {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 10px;
}

.speaking-navbar.visible {
  display: block;
}

.speaking-navbar-list {
  list-style-type: none;
  padding: 0;
}

.speaking-navbar-item {
  margin: 10px 0;
}

.speaking-navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speaking-submenu {
  list-style-type: none;
  padding-left: 20px;
}

.speaking-submenu li {
  margin: 15px 0;
}

.caret {
  margin-left: 10px;
}

@media (max-width: 990px) {
  .menu-toggle-button-speaking {
    display: block;
  }

  .speaking-navbar {
    display: none;
  }

  .speaking-navbar.visible {
    display: block;
  }
  
  .menu-title {
    display:none;
  }
}
