/*==================================vertical menu=====================*/
nav a {
  text-decoration: none;
  color: black;
}   

nav a:hover {
  color: black;
}

.vertical-dropdown-menu-container {
  font-family: Arial, sans-serif;
  background-color: white; /* Set the background to white */
  color: black; /* Set the font color to black */
} 

.vertical-navbar {
  background-color: white; /* Set the background to white */
  width: 100%; /* Adjust the width as needed */
  transition: transform 0.3s ease-in-out;
  position: relative; /* Positioning relative within the page */
  margin: auto;
  height: auto;
}

.vertical-navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vertical-navbar-list li {
  border-bottom: #777777 solid 1px;
}

.vertical-navbar-item {
  position: relative;
  text-decoration: none;
  
}

.vertical-navbar-link {
  display: block;
  color: black; /* Set the font color to black */
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
}

.vertical-navbar-link:hover {
  background-color: #f1f1f1; /* Change hover background color */
  color: black;
}

.menu-toggle-button-vertical {
  display: block;
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 14px 20px;
  cursor: none;
  width: 100%;
  text-align: left;
  margin-top: 10px; /* Add some margin to separate from other content */
}

.menu-toggle-button-vertical:hover {
  background-color: darkgreen;    
  cursor: inherit;
}

.vertical-dropdown-submenu {
  display: none;
  background-color: transparent;
  padding: 10px 0;
  list-style-type: none;
  position: relative;
  z-index: 1;
}

.vertical-dropdown-submenu,
.vertical-navbar-item:focus-within .vertical-dropdown-submenu {
  display: block;
}

.vertical-dropdown-submenu li {
  color: black;
  margin: 0;
}

.vertical-dropdown-submenu a {
  color: black; /* Set the font color to black */
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.vertical-dropdown-submenu a:hover {
  background-color: #f1f1f1; /* Change hover background color */
  color: black;
}